@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0F172A;
  color: #E2E8F0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  z-index: 0;
}   

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}